* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
  }
  
  :root {
    --verde: rgb(6, 218, 157);
    --gris: rgb(128, 126, 126);
  }
  
  a {
    text-decoration: none;
    color: rgba(117, 116, 116, 0.726);
    cursor: pointer;
  }
  
  
  
  
  a:hover {
    color: black;
  }
  
  a:active {
    text-shadow: 0 0 10px black;
  }
  
  
  .f20 {
    font-size: 20pt;
  }
  
  .f25 {
    font-size: 25pt !important;
  }
  
  .f13 {
    font-size: 13pt;
  }
  
  body {
    height: 100vh;
    width: 100% !important;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    overflow-x: hidden;
  }
  
  header.index {
    height: 70%;
    width: 100%;
    gap: 40px;
    background-image: url(../img/restau.webp);
    background-position: center;
    background-size: cover;
    overflow: hidden;
  
    .portada {
      height: 65%;
      width: 100%;
      position: relative;
      background: linear-gradient(0deg,
          rgba(0, 0, 0, 0.493),
          rgba(255, 255, 255, 0) 90%);
  
      & .saludo {
        position: absolute;
        color: rgb(247, 240, 211);
        bottom: 5%;
        left: 10%;
        margin-bottom: 20px;
      }
  
      .buscador {
        position: absolute;
        bottom: -20px;
        right: 5%;
        left: 5%;
        margin: auto;
        height: 40px;
        width: 80%;
        background-color: rgb(255, 255, 255);
        display: flex;
        box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.6);
        overflow: hidden;
  
        & input[type="search"] {
          width: calc(100% - 80px);
          border: none;
          outline: none;
          padding: 10px;
        }
  
        & input[type="submit"] {
          width: 40px;
          border: none;
          outline: none;
          background-color: floralwhite;
  
          transition: all 0.3s ease-in-out;
        }
  
        & input[type="submit"]:hover {
          transform: scale(1.2);
        }
  
        & .icono {
          width: 40px;
          background-color: rgb(6, 218, 157);
          display: grid;
          place-items: center;
        }
      }
    }
  }
  
  main.index {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  
    .offers {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 85%;
      margin: auto;
      padding-bottom: 50px;
      gap: 30px;
      padding-top: 30px;
    }
  
    & .oferta {
      position: relative;
      display: flex;
      flex: 0 0 160px;
      height: 160px;
      width: 100%;
      border-radius: 10px;
      box-shadow: 10px 5px 20px -10px rgba(0, 0, 0, 0.418);
  
      & .img {
        display: grid;
        place-items: center;
        overflow: hidden;
        height: 100%;
        width: 42%;
        border-radius: 15px 0 0 15px;
        position: relative;
  
        img {
          height: 4rem;
          width: 60%;
        }
  
        & span {
          color: #ffffff;
          position: absolute;
          right: 20%;
          top: 10px;
        }
      }
  
      & .desc {
        position: absolute;
        background-color: #ffffff;
        right: 0;
        width: 65%;
        height: 100%;
        border-radius: 0 0 0 30px;
        display: flex;
        flex-direction: column;
        padding: 15px;
      }
  
      & .calificacion {
        position: absolute;
        display: grid;
        place-items: center;
        height: 45px;
        width: 45px;
        background-color: rgb(6, 218, 157);
        border-radius: 15px 0;
        right: -15px;
        top: -15px;
        color: #ffffff;
        font: 1.2em sans-serif;
        box-shadow: 0px 30px 35px -10px rgba(0, 0, 0, 0.212);
      }
  
      & .stats {
        margin-top: 30px;
        width: 300px;
        display: flex;
        bottom: 0;
  
        & .valor {
          position: absolute;
          right: 20px;
        }
  
        & .estrellas {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  
    & span.titulo {
      font-size: 1.3em;
      position: absolute;
      top: 0px;
      left: 5%;
    }
  
    .datos {
      margin: 30px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      height: 100%;
  
      .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
      }
    }
  
    .descripcion-restaurante {
      margin: 0 30px 30px 30px;
    }
  }
  
  .link {
  
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  header.comida {
    height: 60%;
    width: 100%;
    position: relative;
  
    .degrade {
      height: 80%;
      width: 100%;
      background: linear-gradient(180deg,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0),
          rgb(255, 255, 255));
  
      .portada {
        z-index: -1 !important;
        height: 100%;
        width: 100%;
        position: relative;
        background-image: url(../img/plato2.jpg);
        background-position: center;
        background-size: cover;
      }
    }
  
    .nombrePlato {
      position: absolute;
      display: flex;
  
      align-items: center;
      height: 20%;
      width: 70%;
      left: 35px;
      padding-top: 30px;
      font: 1.4em sans-serif;
    }
  
    .valorPlato {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 80px;
      background-color: rgb(6, 218, 157);
      border-radius: 15px 0;
      right: 35px;
      bottom: 0px;
      color: #ffffff;
      font: 1.2em sans-serif;
      font-weight: bolder;
      box-shadow: 0px 5px 25px -10px rgba(0, 0, 0, 0.534);
    }
  }
  
  main.comida {
    width: 100%;
    height: 40%;
    padding: 30px;
    position: relative;
    overflow: hidden;
  
    p {
      position: absolute;
      top: 40px;
    }
  
    input[type="text"] {
      position: absolute;
      bottom: 40%;
      padding: 5px;
      width: 95%;
      border: none;
      border-bottom: solid #949494a1 2px;
      outline: none;
    }
  
    .footer {
      position: absolute;
      bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 90%;
      height: 27%;
  
      .sumador {
        width: 20%;
        height: 100%;
        background-color: var(--verde);
        display: grid;
        place-items: center;
        cursor: pointer;
      }
  
      .carrito {
        width: 60%;
        height: 100%;
        background-color: var(--verde);
        display: grid;
        place-items: center;
        cursor: pointer;
      }
  
      span {
        font-weight: bolder;
        font-size: 18pt;
        color: #ffffff;
      }
    }
  }
  
  nav.categorias {
    height: 40%;
    width: 100% auto;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    overflow: hidden;
    overflow-x: scroll;
  
    & .btn_categoria {
      height: 70px;
      flex: 0 0 90px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 1.1em;
  
      cursor: default;
    }
    a:visited {
      color: rgb(73, 228, 248);
    }
  }
  
  header.restaurante {
    height: 60%;
    width: 100%;
  
    background-image: url(../img/restau.webp);
    background-position: center;
    background-size: cover;
    overflow: hidden;
  
    .portada {
      height: 80%;
      width: 100%;
      position: relative;
      background: linear-gradient(0deg,
          rgba(0, 0, 0, 0.493),
          rgba(255, 255, 255, 0) 90%);
  
      a {
        margin: 20px;
        font-size: 25pt;
      }
  
      .calificacion {
        position: absolute;
        display: grid;
        place-items: center;
        height: 45px;
        width: 55px;
        background-color: rgb(6, 218, 157);
        border-radius: 15px 0;
        right: 35px;
        bottom: -15px;
        color: #ffffff;
        font: 1.3em sans-serif;
        box-shadow: 0px 30px 35px -10px rgba(0, 0, 0, 0.212);
      }
    }
  
    .informacion {
      height: 20%;
      width: 100%;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      padding: 30px;
      align-items: center;
  
      p {
        margin-top: 7px;
      }
    }
  }
  
  nav.restaurant {
    position: fixed;
    width: 100%;
    height: 60px;
    box-shadow: -3px -3px 25px -15px rgba(0, 0, 0, 0.418);
    bottom: 0;
    display: flex;
  
    a {
      display: grid;
      place-items: center;
      flex: 0 0 33.33%;
      border: 0;
      background-color: transparent;
      cursor: pointer;
      color: var(--gris);
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
  
    a:hover {
      font-weight: 700;
      border-top: solid 3px var(--verde);
    }
  
    a.selected {
      font-weight: bolder;
      border-top: solid 3px var(--verde);
    }
  }
  
  header.menu {
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
  
    a {
      position: absolute;
      top: 35%;
      left: 10px;
    }
  }
  
  main.menu {
    height: calc(92% - 60px);
    width: 100%;
    background-color: rgb(236, 236, 236);
    gap: 10px;
    padding: 20px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  
    span.Titulo {
      position: absolute;
      color: rgb(97, 97, 97);
      width: fit-content;
      top: 10px;
      right: 40%;
      height: 30px;
      border-bottom: solid var(--verde) 2px;
    }
  
    .platillo {
      width: 90% auto;
      height: 170px;
      min-height: 150px;
      max-height: 200px;
      display: flex;
  
      .img {
        position: relative;
        width: 35%;
        height: 100%;
        display: grid;
        place-items: center;
  
        img {
        
          max-width: 200px;
          height: 100%;
          max-height: 200px;
          border-radius: 50%;
        }
  
        span {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 35px;
          width: 55px;
          background-color: rgb(6, 218, 157);
          border-radius: 15px 0;
          right: 25px;
          bottom: 25px;
          color: #ffffff;
          font: 0.9em sans-serif;
          font-weight: bolder;
          box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.788);
  
          i {
            font-size: 13pt;
          }
        }
  
      }
  
      .desc {
        width: 65%;
        display: flex;
        flex-direction: column;
        padding: 40px;
  
        h2 {
          font-weight: 100;
          margin-bottom: 10px;
        }
      }
    }
  }
  
  .flex {
    display: flex;
  }
  
  .agregarCarrito {
    position: fixed;
    bottom: 0;
  
    width: 90%;
    padding: 20px;
    display: flex;
    gap: 3px;
    flex-direction: column;
  
    p {
      position: relative !important;
      top: 0 !important;
    }
  
    .botonCarrito {
      height: 40px;
      width: 40px;
      display: grid;
      place-items: center;
      background-color: var(--verde);
      color: black;
      border: 0;
      font-size: 18px;
      transition: all 0.3s ease-in-out;
    }
  
    button:hover {
      box-shadow: 0 2px 0 black;
      color: black;
      cursor: pointer;
    }
  
    .btnAgregar {
      border: 0;
      flex: 1;
      background-color: var(--verde);
      color: black;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      font-size: 18px;
    }
  }
  
  @media screen and (orientation=landscape) {
    main.index {
      padding: 20px;
  
      .offers {
        width: 100%;
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
      }
  
      a {
        height: 160px;
        flex: 0 0 calc(50% - 15px);
      }
    }
  
    main.menu {
      padding: 20px;
      width: 100%;
      display: flex !important;
      align-items: center;
     
  
      a {
        height: 160px;
        flex: 0 0 calc(40% - 15px);
      }
  
      span.Titulo {
        right: 45%;
      }
    }
  }
  
  @media screen and (orientation=portrait) {}